@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700;800&family=Lora:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cinzel', serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Cinzel', serif;
  background-color: #fc7b48;
  color: #493162;
  padding: 1rem;
}

.nav--lists {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  font-size: 24px;
}

footer {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Lora', serif;
}
